.container {
  margin: 0px;
  height: auto;
  width: 50%;
  margin-left: 25%;
  background: transparent;
  padding: 20px;
  display: block;
  text-align: center;
}

.center {
  margin: 0 auto;
  width: fit-content;
}

.skillSetContent {
  text-align: left;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}

.tile {
  font-family: "Kufam", cursive;
  font-weight: 700;
  font-style: italic;
  font-size: 2.5rem;
  color: cornflowerblue;
}

.tileDescription {
  font-family: "Kufam", cursive;
  font-weight: 500;
  font-style: italic;
}

.mainBackground {
  margin: 0px;
  background: rgb(255, 255, 255);
}

.pageBreak {
  display: block;
  border: black thin solid;
  background: fixed black;
  height: 1px;
  width: 50%;
}

.endPage {
  border: 5px none black;
  border-top-style: dotted;
  width: 25%;
}

.contactMeBtn {
  margin: 0 auto;
  width: 150px;
  height: 50px;
  font-size: larger;
  background: cadetblue;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  display: block;
}

p {
  line-height: 2;
  font-size: larger;
}
